body {
    margin: 0;
    padding: 0;
    /* background-color: rgb(70, 67, 67); */
}

.content {
   
    background-color: #c7c3c3;
    border-radius: 6px;
    margin: 20px auto;
    width: 700px;
    /* padding: 20px; */
}

form {
    padding: 25px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form input {
    width: 500px;
    height: 30px;
    padding: 10px 17px;
    border: none;
    border-radius: 6px;
    outline: none;
    font-size: 20px;
}

form .add{
    padding: 10px;
    width: 80px;
    height: 50px;
    border-radius: 6px;
    margin-left: 10px;
    border: none;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    /* text-align: center; */
}
.my-div {
    margin: 20px auto;
    padding: 10px 0;
    border-radius: 6px;
    width: 700px;
    background-color: #c7c3c3;
    /* /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    /* justify-content:space-around; */
}